html {
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

#game-section {
    margin-top: 120px;
    width: 1000px;
    height: 500px;
    background-color: lightcyan;
    border-radius: 36px;
    border: 20px solid green ;
}

#player-attributes {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 940px;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: -16px;
}

#player-attributes > p{
    padding: 0px 20px;
    margin-bottom: 0px;
}

#game-div {
    background-color: red;
    margin: 10px;
    width: 940px;
    height: 380px;
}